/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

/* Navigation */
nav {
    background: #333;
    padding: 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    padding-left: 100px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: darkorange;
    box-shadow: 0 2px 10px orangered;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: zoom-in;
    border-radius: 50px;
}

nav ul li a:hover {
    color: orange;
}

/* Page Layout */
.container {
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}
/* Product Grid */
.product-section {
    margin-top: 40px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background: #ffffff;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

.product-card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    border-radius: 6px;
}

.product-card h3 {
    margin: 10px 0 5px;
}

.product-card p {
    margin: 0px;
    padding-left: 10px;
    margin-top: 20px;
    font-weight: bold;
    color: black;
}
/* Contact Page */
.contact-box {
    text-align: center;
    padding: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px;
    margin: 10px auto;
    width: 260px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,1);
}

.contact-item img {
    width: 35px;
    height: 35px;
}

.contact-item a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.contact-item a:hover {
    color: #ff8800;
}
.no-copyright-footer {
    background-color: orange;
    color: black; 
    padding: 15px 0; 
    width: 100%; 
    text-align: center; 
    border-top: 1px solid #ddd;
}

.footer-text {
    margin: 0;
    font-size: 0.9em; 
}